/*Tabs*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
  background-color: grey;
}



ul li {
  display: inline;
  background-color: #456;
}

.nav-pills > li + li {
    margin-left: 5px;
    margin-bottom: 5px;
}

.nav-pills > ul li a {
  color: #fff;
}

.nav-pills > li > a {
    border-radius: 0;
}

 .nav-pills > ul li:hover {
  border-radius: 0;
  background-color: grey;
  text-decoration: none;
  color: #fff;
}

.nav-pills > ul li:focus {
  background-color: grey;
  color: #fff;
}

 ul li a:hover, ul li a:focus {
  text-decoration: none;
  color: #E60072;
  background-color: grey;
}

ul li:focus {
  background-color: grey;
}

