/*Tabs*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/geege\/Dropbox\/dev\/plot-and-scatter\/precipitation\/assets\/css\/common\.scss}line{font-family:\000033}}
#tabs {
  margin: -30px auto 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/geege\/Dropbox\/dev\/plot-and-scatter\/precipitation\/assets\/css\/common\.scss}line{font-family:\000037}}
ul li {
  display: inline;
  margin: 30px auto 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/geege\/Dropbox\/dev\/plot-and-scatter\/precipitation\/assets\/css\/common\.scss}line{font-family:\0000312}}
ul li a {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #456;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/geege\/Dropbox\/dev\/plot-and-scatter\/precipitation\/assets\/css\/common\.scss}line{font-family:\0000320}}
ul li a:hover {
  background-color: grey; }
