$base-font: "museo-sans";
$base-font-weight: 300;
$bold-font-weight: 600;
$base-font-size: 15px;

$header-font-weight: 100;

//$base-color: #586F7C;
$ps-brand-color: #F2AC17;
$base-color: #456;
$base-grey-color: #666;
$background-color: darken($base-color, 30%);
//$link-color: lighten($ps-brand-color, 30%);
$link-color: lighten($base-color, 35%);


//$above-color: #f33;
//$below-color: #6f6;
$above-color: #69f;
$below-color: #f66;

html {
  height: 100%;
  background-color: $background-color;
}

body {
  background: linear-gradient($base-color, $background-color);
  background-color: $background-color;
  color: #fff;
  font-family: $base-font;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  min-height: 100%;
}

select, option {
  font-family: $base-font;
  font-size: 14px;
  padding: 10px;
  background: lighten($base-grey-color, 59%);
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $header-font-weight;
}

a {
  font-weight: $bold-font-weight;
  text-decoration: underline;
  color: $link-color;
  &:hover {
    color: $ps-brand-color;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
}

.y.axis path {
  stroke: #1a3a4a;
  stroke-width: 0.5px;
  fill: none;
}

.x.axis path {
  display: none;
}

.above {
  background-color: $above-color;
  fill: $above-color;
  opacity: 0.7;
  color: $above-color;
}

.below {
  background-color: $below-color;
  fill: $below-color;
  opacity: 0.7;
  color: $below-color;
}

.above.text, .below.text {
  background-color: inherit;
  opacity: 1.0;
}

.line {
  fill: none;
  stroke: #fff;
}

.line.actuals {
  stroke-width: 1px;
}

.line.normals {
  stroke: #ccc;
  stroke-width: 0.5px;
}

.tick line {
  stroke: darken($base-color, 15%);
  stroke-width: 1px;
}

.graph text {
  fill: #fff;

}

div.map {
  path {
    fill: darken($base-color, 30%);
    stroke: #ccc;
    stroke-width: 2px;
    opacity: 0.3;
  }
  circle.station {
    fill: #333;
    stroke: #fff;
    stroke-width: 1.5px;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
      fill: #ccc;
    }
  }
  circle.station.highlight {
    fill: #3f3;  
  }
}

div.options {
  float: right;
}

span.legend {
  margin-left: 20px;
}

.legend.actual {
  font-weight: 500;
  color: #fff;
}

.legend.above, .legend.below {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
}

div.options input {
  margin-left: 30px;
}

.viz-label {
  text-align: right;
  //text-transform: uppercase;
  //font-size: $base-font-size * 0.9;
  color: lighten($base-grey-color, 20%);
}

.viz-description {
  //font-size: $base-font-size * 1.1;
}

.row {
  margin-bottom: 20px;
  //padding-top: 10px;
  //border-top: solid $base-color 1px;
}

.btn {
  border-radius: 0;
  border: 0;
  text-decoration: none;
}